<nav
  class="h-[100px] w-full bg-ccsd-dark-blue fixed flex justify-between text-white"
>
  <div class="logo flex items-center">
    <img
      src="https://focalpoint.ccsd.net/img/ccsd-logo-blue-h68.png"
      class="bg-white rounded-sm h-[68px] p-2 mb-1 mx-2"
    />
    <h1 class="text-md">Instructional Focal Point</h1>
  </div>
  <div class="links flex items-center text-sm">
    <ul class="list-none flex flex-row">
      <li class="px-2 cursor-pointer" (click)="toggleDrawer()">Tools</li>
      <li class="px-2">Teams</li>
      <li class="px-2">Analytics</li>
    </ul>
  </div>
</nav>
